{% extends "../../partials/layout.njk" %}
{% from "components/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Summary for person booked to arrive" %}
{% set hasBackLink = false %}
{% set breadCrumbs = {
    enabled: true,
    pageTitle:  arrival.lastName + ", " + arrival.firstName,
    data: [{
        title: 'People booked to arrive today',
        href: '/confirm-arrival/choose-prisoner'
    }]} %}


{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-body">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                        <span class="govuk-caption-l">
                            Prison number: {{ summary.prisonNumber }} | PNC: {{ summary.pncNumber }}
                        </span>
                    <h1 class="govuk-heading-l">{{ arrival.lastName }}, {{ arrival.firstName }}</h1>
                </div>
                <div class="govuk-grid-column-one-half">
                    {% if(enableDpsLink) %}
                        {{ govukButton({
                            text: "View full prisoner profile",
                            href: dpsUrl + "/save-backlink?service=welcome-people-into-prison&returnPath=/prisoners/" + arrival.id + "/summary-with-record&redirectPath=/prisoner/" + arrival.prisonNumber,
                            attributes: {'data-qa':'dps-link'},
                            classes: "govuk-button--secondary moj-button-menu__item govuk-!-margin-left-3 govuk-!-margin-right-0 float-right"
                        }) }}
                    {% endif %}
                    {{ govukButton({
                        text: "Confirm arrival",
                        href: "/confirm-arrival/choose-prisoner/" + arrival.id,
                        classes: "float-right"
                    }) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        This summary contains information from the escort move and prison record.
                    </div>
                </div>
            </div>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Booking overview",
                        rows: [
                            {
                                key: { text: "Arrival status" },
                                value: { html: "<strong class=\"govuk-tag govuk-tag--grey\">NOT ARRIVED</strong>" }
                            },
                            {
                                key: { text: "Arriving from" },
                                value: { text: arrival.fromLocation }
                            }
                        ]
                    }) }}

                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Personal details",
                        rows: [
                            {
                                key: {  text: "Name" },
                                value: { text:  arrival.firstName + " " + arrival.lastName }
                            },
                            {
                                key: {  text: "Date of birth" },
                                value: { text: arrival.dateOfBirth | formatDate('D MMMM YYYY')}
                            },
                            {
                                key: {  text: "Age" },
                                value: { text: arrival.dateOfBirth | calculateAge + " years old"}
                            }
                        ]
                    }) }}
                    {% if summary.bodyScanStatus === 'DO_NOT_SCAN' %}
                        <div class="compliance-panel compliance-panel--red">
                            <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                                Do not scan – annual body scan limit reached
                            </p>
                        </div>
                    {% elif summary.bodyScanStatus === 'CLOSE_TO_LIMIT'  %}
                        <div class="compliance-panel">
                            <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                                {{ arrival.firstName }} {{ arrival.lastName }} can only be scanned {{ summary.numberOfBodyScansRemaining }} more times this year
                            </p>
                        </div>
                    {% endif %}
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "X-ray body scan",
                        rows: [
                            {
                                key: {  text: "Total number of scans", caption: "Since 1 January " + generateCurrentYear() },
                                value:  { text: summary.numberOfBodyScans }
                            }
                        ]
                    }) }}
                </div>

                <div class='govuk-grid-column-one-third'>
                    <div class="profile-align-image">
                        <img
                            src="{{ '/prisoners/' + summary.prisonNumber + '/image' }}"
                            class="govuk-!-margin-bottom-8"
                            width="160px"
                            alt="Headshot of {{ arrival.lastName }}, {{ arrival.firstName }}"
                            data-qa="prisoner-image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
