{% extends "../../partials/layout.njk" %}
{% from "components/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Summary for person booked to arrive" %}
{% set hasBackLink = false %}

{% set breadCrumbs = {
    enabled: true,
    pageTitle:  arrival.lastName + ", " + arrival.firstName,
    data: [{
        title: 'People booked to arrive today',
        href: '/confirm-arrival/choose-prisoner'
    }]} %}


{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-body">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    {% if arrival.pncNumber %}
                        <span class="govuk-caption-l">
                            PNC: {{ arrival.pncNumber }}
                        </span>
                    {% endif %}
                    <h1 class="govuk-heading-l">{{ arrival.lastName }}, {{ arrival.firstName }}</h1>
                </div>
                <div class="govuk-grid-column-one-half">
                    {{ govukButton({
                        text: "Confirm arrival",
                        href: "/confirm-arrival/choose-prisoner/" + arrival.id,
                        classes: "float-right",
                        attributes: {'data-qa':'confirm-arrival'}
                    }) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        This summary contains information from the escort move
                    </div>
                </div>
            </div>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Booking overview",
                        rows: [
                            {
                                key: { text: "Arrival status" },
                                value: { html: "<strong class=\"govuk-tag govuk-tag--grey\">NOT ARRIVED</strong>" }
                            },
                            {
                                key: { text: "Arriving from" },
                                value: { text: arrival.fromLocation }
                            }
                        ]
                    }) }}

                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Personal details",
                        rows: [
                            {
                                key: {  text: "Name" },
                                value: { text:  arrival.firstName + " " + arrival.lastName }
                            },
                            {
                                key: {  text: "Date of birth" },
                                value: { text: arrival.dateOfBirth | formatDate('D MMMM YYYY')}
                            },
                            {
                                key: {  text: "Age" },
                                value: { text: arrival.dateOfBirth | calculateAge + " years old"}
                            }
                        ]
                    }) }}
                </div>

                <div class='govuk-grid-column-one-third'>
                    <div class="profile-align-image">
                        <img
                            src="/assets/images/placeholder-image.png"
                            class="govuk-!-margin-bottom-8"
                            width="160px"
                            alt="No photo available"
                            data-qa="prisoner-image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
