{% macro expectedArrivalCardMacro(arrival, moveType, loopIndex, user) %}
    <div class='app-card__content'>
        <div class="app-card app-card--with-aside">
            <aside class="app-card__aside">
                <img
                    src="{{ '/prisoner/' + arrival.prisonNumber + '/image' if arrival.prisonNumber else '/assets/images/placeholder-image.png' }}"
                    class="app-card__image"
                    alt="{{ arrival.lastName }}, {{ arrival.firstName }}"
                    data-qa="prisoner-image"
                />
            </aside>
            <div class="app-card__content">
                <header class="app-card__header govuk-!-margin-bottom-4">
                    <h2 class="app-card__title" data-qa="{{moveType}}-title-{{loopIndex}}">     
                        {% if user.isReceptionUser %}
                            {% if arrival.fromLocationType === 'PRISON' %}
                                    <a href="/prisoners/{{ arrival.prisonNumber }}/check-transfer" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a> 
                            {% elif not arrival.isCurrentPrisoner %}
                                    <a href="/prisoners/{{ arrival.id }}/confirm-arrival" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a>
                            {% else  %}
                                    {{ arrival.lastName }}, {{ arrival.firstName }}
                            {%  endif %}
                        {%  endif %}
                    </h2>
                    <span class="govuk-body">{{ arrival.prisonNumber | default('No prison number found') }}</span>
                </header>
                <dl class="app-card__meta-list">
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Date of birth
                        </dt>
                        <dd class="app-card__meta-list-value">
                            {{ arrival.dateOfBirth | formatDate('D MMMM YYYY')}}
                        </dd>
                    </div>
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Arriving from
                        </dt>
                        <dd class="app-card__meta-list-value">
                            {{ arrival.fromLocation }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
{%  endmacro %}
