{% macro expectedArrivalCardMacro(arrival, moveType, loopIndex, user) %}
    <div class='app-card__content'>
        <div class="app-card app-card--with-aside">
            <aside class="app-card__aside">
                <img
                    src="{{ '/prisoner/' + arrival.prisonNumber + '/image' if arrival.prisonNumber else '/assets/images/placeholder-image.png' }}"
                    class="app-card__image"
                    alt="{{ arrival.lastName }}, {{ arrival.firstName }}"
                    data-qa="prisoner-image"
                />
            </aside>
            <div class="app-card__content">
                <header class="app-card__header">
                    <h2 class="app-card__title" data-qa="{{moveType}}-title-{{loopIndex}}">
                        {% if user.isReceptionUser %}
                            {% if arrival.fromLocationType === 'COURT' and not arrival.isCurrentPrisoner %}
                                <a href="/prisoners/{{ arrival.id }}/confirm-arrival" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a>

                            {% elif arrival.fromLocationType === 'COURT' and arrival.isCurrentPrisoner %}
                                <a href="/prisoners/{{ arrival.id }}/check-court-return" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a>

                            {% elif arrival.fromLocationType === 'CUSTODY_SUITE' and not arrival.isCurrentPrisoner %}
                                <a href="/prisoners/{{ arrival.id }}/confirm-arrival" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a>

                            {% elif arrival.fromLocationType === 'PRISON' %}
                                <a href="/prisoners/{{ arrival.prisonNumber }}/check-transfer" class="govuk-link govuk-link--no-visited-state" data-qa="confirm-arrival"> {{ arrival.lastName }}, {{ arrival.firstName }}</a>

                            {% else %}
                                {{ arrival.lastName }}, {{ arrival.firstName }}
                            {%  endif %}
                        {% else  %}
                            {{ arrival.lastName }}, {{ arrival.firstName }}
                        {%  endif %}
                    </h2>
                </header>
                <dl class="app-card__meta-list">
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Date of birth
                        </dt>
                        <dd class="app-card__meta-list-value">
                            {{ arrival.dateOfBirth | formatDate('D MMMM YYYY')}}
                        </dd>
                    </div>
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Arriving from
                        </dt>
                        <dd class="app-card__meta-list-value">
                            {{ arrival.fromLocation }}
                        </dd>
                    </div>
                    {% if arrival.prisonNumber %}
                        <div class="app-card__meta-list-item">
                            <dt class="app-card__meta-list-key">
                                Prison number
                            </dt>
                            <dd class="app-card__meta-list-value" data-qa="{{moveType}}-prison-number-{{loopIndex}}">
                                {{ arrival.prisonNumber }}
                            </dd>
                        </div>
                    {%  endif %}
                    {% if arrival.pncNumber %}
                        <div class="app-card__meta-list-item">
                            <dt class="app-card__meta-list-key">
                                PNC number
                            </dt>
                            <dd class="app-card__meta-list-value" data-qa="{{moveType}}-pnc-number-{{loopIndex}}">
                                {{ arrival.pncNumber }}
                            </dd>
                        </div>
                    {%  endif %}
                </dl>
            </div>
        </div>
    </div>
{%  endmacro %}
