{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "../components/feedback-banner.njk" import feedbackBanner %}

  {% if hasFeedbackBanner !== false %}
    {{
      feedbackBanner({
        feedbackBannerAdditionalClasses: feedbackBannerBackground
      })
    }}
{% endif %}

{% include "../components/feedback-banner.njk" %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
