{% macro incomingMovementCard(movement, moveType, loopIndex) %}
    <div class="app-card app-card--with-aside">
        <div class="app-card__content" style="margin-left: 115px">
            <header class="app-card__header">
                <h2 class="app-card__title" data-qa="{{moveType}}-title-{{loopIndex}}">{{ movement.lastName }}, {{ movement.firstName }}</h2>
                <span class="govuk-body">{{ movement.prisonNumber if movement.prisonNumber else "No prison number found" }}</span>
            </header>
            <dl class="app-card__meta-list">
                <div class="app-card__meta-list-item">
                    <dt class="app-card__meta-list-key">
                        Date of birth
                    </dt>
                    <dd class="app-card__meta-list-value">
                        {{ movement.dateOfBirth | formatDate('D MMMM YYYY')}}
                    </dd>
                </div>
                <div class="app-card__meta-list-item">
                    <dt class="app-card__meta-list-key">
                        Arriving from
                    </dt>
                    <dd class="app-card__meta-list-value">
                        {{ movement.fromLocation }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
{%  endmacro %}