{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../components/feedback-banner.njk" import feedbackBanner %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "./breadCrumb.njk" import breadCrumb %}

{% block head %}


    {% if tagManagerContainerId %}
        <!-- Google Tag Manager -->
        <script nonce="{{ cspNonce }}">
          ;(function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer' ? '&l=' + l : '';

            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '{{ tagManagerEnvironment | safe }}';

            var n = d.querySelector('[nonce]');
            n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));

            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', '{{ tagManagerContainerId }}');
        </script>
        <!-- End Google Tag Manager -->
    {% endif %}



    <!--[if !IE 8]><!-->
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if lt IE 9]>
  <link href='/assets/stylesheets/application-ie8.css?{{ version }}' rel='stylesheet'/>
  <script src='/assets/js/html5shiv-3.7.3.min.js'></script>
  <![endif]-->

    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" crossorigin>

{% endblock %}

<title>
    {% block pageTitle %}
        {% if errors.length %}Error:{% endif %} {{ pageTitle | default(applicationName) }}
    {% endblock %}
</title>

{% block skipLink %}
    {{ govukSkipLink({
    href: '#main-content',
    text: 'Skip to main content',
    classes: "skip-link"
    }) }}
{% endblock %}

{% block header %}
    {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block beforeContent %}
    {% if hasBackLink !== false %}
        {{ govukBackLink({
            text: "Back",
            classes: "backLinkUrl",
            attributes: {'data-qa': 'back-link-navigation'},
            href: "#"
        }) }}
    {% elif breadCrumbs.enabled === true %}
        {{ breadCrumb(breadCrumbs.data) }}
    {% endif %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
    <script src="/assets/govuk/all.js"></script>
    <script src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    {# Javascript block for individual pages #}
    {% block pageScripts %}
        <script src="/assets/backLink.js"></script>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}
