{% from "../components/do-not-scan.njk" import doNotScan %}

{% macro recentArrivalCardListContent(arrival, loopIndex, date) %}
    <dl class="app-card__meta-list" data-qa="recent-arrival-{{date}}-{{loopIndex}}">
        <div class="app-card__meta-list-item">
            <dt class="app-card__meta-list-key">
                Prison number
            </dt>
            <dd class="app-card__meta-list-value" data-qa="{{ date }}-prison-number-{{ loopIndex }}">
                {{ arrival.prisonNumber }}
            </dd>
        </div>
        <div class="app-card__meta-list-item">
            <dt class="app-card__meta-list-key">
                Date of birth
            </dt>
            <dd class="app-card__meta-list-value" data-qa="{{ date }}-dob-{{ loopIndex }}">
                {{ arrival.dateOfBirth | formatDate('D MMMM YYYY') }}
            </dd>
        </div>
        <div class="app-card__meta-list-item">
            <dt class="app-card__meta-list-key">
                Date and time arrived
            </dt>
            <dd class="app-card__meta-list-value" data-qa="{{ date }}-movementDateTime-{{ loopIndex }}">
                {{ arrival.movementDateTime | formatDate('D MMMM YYYY, HH:mm') }}
            </dd>
        </div>
        <div class="app-card__meta-list-item">
            {% if arrival.location %}
                <dt class="app-card__meta-list-key">
                    Location
                </dt>
                <dd class="app-card__meta-list-value" data-qa="{{ date }}-location-{{ loopIndex }}">
                    {{ arrival.location }}
                </dd>
            {% endif %}
        </div>
        <div class="app-card__meta-list-item">
            {% if arrival.bodyScanStatus === 'DO_NOT_SCAN' %}
                {{ doNotScan() }}
            {% endif %}
        </div>
    </dl>
{% endmacro %}

{% macro recentArrivalCard(arrival, loopIndex, date) %}
    <div class='app-card__content'>
        <div class="app-card app-card--with-aside">
            <aside class="app-card__aside">
                <img src="{{ '/prisoners/' + arrival.prisonNumber + '/image' }}" class="app-card__image" alt="Headshot of {{ arrival.lastName }}, {{ arrival.firstName }}" data-qa="prisoner-image"/>
            </aside>
            <div class="app-card__content">
                <header class="app-card__header">
                    <h2 class="app-card__title title-{{ loopIndex }}" data-qa="{{ date }}-title-{{ loopIndex }}">
                        <a href="/recent-arrivals/{{ arrival.prisonNumber }}/summary" class="govuk-link  govuk-link--no-visited-state" data-qa="recent-arrivals-{{ date }}-name-{{loopIndex}}">{{ arrival.lastName }}, {{ arrival.firstName }}</a>
                    </h2>
                </header>
                {{ recentArrivalCardListContent(arrival, loopIndex, date) }}
            </div>
        </div>
    </div>
{% endmacro %}
