{% macro temporaryAbsenceCard(temporaryAbsence, loopIndex, user) %}
    <div class='app-card-wrapper'>
        <div class="app-card app-card--with-aside">
            <aside class="app-card__aside">
                <img
                    src= "/prisoners/{{temporaryAbsence.prisonNumber}}/image" 
                    class="app-card__image"
                    alt="Headshot of {{ temporaryAbsence.lastName }}, {{ temporaryAbsence.firstName }}"
                    data-qa="prisoner-image"
                />
            </aside>
            <div class="app-card__content">
                <header class="app-card__header govuk-!-margin-bottom-4">
                    <h2 class="app-card__title">
                        {% if user.isReceptionUser %}
                            <a href="/prisoners/{{ temporaryAbsence.prisonNumber }}/check-temporary-absence" class="govuk-link govuk-link--no-visited-state" data-qa="temporaryAbsence-title-{{loopIndex}}"> {{ temporaryAbsence.lastName }}, {{ temporaryAbsence.firstName }}</a>
                        {% else  %}
                            {{ temporaryAbsence.lastName }}, {{ temporaryAbsence.firstName }}
                        {%  endif %}
                    </h2>
                </header>
                <dl class="app-card__meta-list">
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Date of birth
                        </dt>
                        <dd class="app-card__meta-list-value" data-qa="temporaryAbsence-dob-{{loopIndex}}">
                            {{ temporaryAbsence.dateOfBirth | formatDate('D MMMM YYYY')}}
                        </dd>
                    </div>
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Prison number
                        </dt>
                        <dd class="app-card__meta-list-value" data-qa="temporaryAbsence-prisonNumber-{{loopIndex}}">
                            {{ temporaryAbsence.prisonNumber }}
                        </dd>
                    </div>
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Reason for absence
                        </dt>
                        <dd class="app-card__meta-list-value" data-qa="temporaryAbsence-reasonForAbsence-{{loopIndex}}">
                            {{ temporaryAbsence.reasonForAbsence }}
                        </dd>
                    </div>
                    <div class="app-card__meta-list-item">
                        <dt class="app-card__meta-list-key">
                            Date and time released
                        </dt>
                        <dd class="app-card__meta-list-value" data-qa="temporaryAbsence-movementDateTime-{{loopIndex}}">
                            {{ temporaryAbsence.movementDateTime | formatDate('D MMMM YYYY, HH:mm') }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
{%  endmacro %}