{% extends "../../partials/layout.njk" %}
{% from "../../components/prisoner-summary-detail.njk" import prisonerSummaryDetail %}
{% from "../../components/prisoner-search-detail.njk" import prisonerSearchDetail %}
{% set pageTitle = "An existing prisoner record has been found" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Confirm an arrival</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">An existing prisoner record has been found</h1>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-margin-top-4 govuk-!-margin-bottom-8 flex" >
        <div class="column-width-40 govuk-!-padding-right-9">
            <h2 class="govuk-heading-m">Personal details</h2>
            <div class = "prisoner-record-detail prisoner-head">
                {{ prisonerSearchDetail(data, "arrival" ) }}
            </div>
        </div>
        <div class=" border-left-grey govuk-!-padding-left-9 column-width-60">
            <h2 class="govuk-heading-m">Details from existing prisoner record</h2> 
            <div class="prisoner-record-detail flex">
                {{ prisonerSummaryDetail(potentialMatch, "existing-record") }}
                <img src="{{ '/prisoners/' + potentialMatch.prisonNumber + '/image' if potentialMatch.prisonNumber else '/assets/images/placeholder-image.png' }}" 
                        class="prisoner-image govuk-!-margin-top-2"
                        alt="{{ potentialMatches.lastName }}, {{ potentialMatch.firstName }}" 
                        data-qa="prisoner-image" 
                />
            </div>
        </div>
    </div> 
    <div>  
        {{ govukInsetText({
            html: 'If you think this is the wrong record, you can <a class="govuk-body govuk-link govuk-link--no-visited-state" data-qa="search-again" href="/manually-confirm-arrival/search-for-existing-record">search for a record using different details</a> or <a class="govuk-body govuk-link govuk-link--no-visited-state" data-qa="create-new" href="/manually-confirm-arrival/add-personal-details">create a new record</a>.'
        }) }}

        {{ govukButton({
            classes: "govuk-button govuk-!-margin-bottom-6",
            href: "/prisoners/unexpected-arrivals/start-confirmation",
            text: "Continue using this record",
            attributes: {'data-qa': 'continue'}
        }) }}
        <p>

        </p>
    </div>
{% endblock %}
