{% extends "../../../partials/layout.njk" %}
{% set pageTitle = "Check answers" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
          <span class="govuk-caption-xl"> Confirm arrival of {{ data.firstName}} {{ data.lastName }} </span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Check your answers before adding {{ data.firstName}} {{ data.lastName }} to the establishment roll</h1>
            <div class="prisoner-header">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name
                                </dt>
                                <dd class="govuk-summary-list__value" data-qa="prisoner-name">
                                    {{ data.firstName}} {{ data.lastName }}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of birth
                                </dt>
                                <dd class="govuk-summary-list__value" data-qa="dob">
                                    {{ data.dateOfBirth | formatDate('D MMMM YYYY') }}
                                </dd>
                            </div>
                            {%  if data.prisonNumber  %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Prison number
                                    </dt>
                                    <dd class="govuk-summary-list__value" data-qa="prison-number">
                                        {{ data.prisonNumber }}
                                    </dd>
                                </div>
                            {%  endif  %}
                            {%  if data.pncNumber  %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        PNC number
                                    </dt>
                                    <dd class="govuk-summary-list__value" data-qa="pnc-number">
                                        {{ data.pncNumber }}
                                    </dd>
                                </div>
                            {%  endif %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Sex
                                </dt>
                                <dd class="govuk-summary-list__value" data-qa="sex">
                                    {% if data.sex === 'M' %}
                                        Male
                                    {% elif data.sex === 'F' %}
                                        Female
                                    {% endif %}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Reason for imprisonment
                                </dt>
                                <dd class="govuk-summary-list__value" data-qa="reason">
                                    {{ data.reasonImprisonment }}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

            <form method="post" action = "/prisoners/{{ data.id }}/check-answers">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukButton({
                    classes: "govuk-button govuk-!-margin-bottom-6",
                    text: "Add to the establishment roll",
                    attributes: {'data-qa': 'add-to-roll'},
                    type: 'submit'
                }) }}
            </form>
        </main>
    </div>

{% endblock %}
