{% extends "../../../partials/layout.njk" %}
{% set pageTitle = "Review personal details" %}
{% set baseUrl = '/prisoners/' + data.id + '/review-per-details' %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Confirm an arrival</span>
                <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
                <p>This information will be used to create a new prisoner record for this person.</p>
                <p>You should add details exactly as they appear on the document authorising detention into custody.</p>
                {% set details = [
                    {   key:     { text: "Name" },
                        value:   { text: data.firstName + " " + data.lastName, classes: 'data-qa-name' },
                        actions: { items: [
                        { href: baseUrl + '/change-name', text: "Change", visuallyHiddenText: "name", attributes: { 'data-qa': 'change-name' } }]}
                    },
                    {   key:     { text: "Date of birth" },
                        value:   { text: data.dateOfBirth | formatDate('D MMMM YYYY'), classes: 'data-qa-dob' },
                        actions: { items: [
                        { href: baseUrl + '/change-date-of-birth', text: "Change", visuallyHiddenText: "date of birth", attributes: { 'data-qa': 'change-dob' } }]}
                    }
                ] %}
                {{ govukSummaryList({ rows: details }) }}

                {{ govukButton({
                    classes: "govuk-button govuk-!-margin-bottom-6",
                    text: "Continue",
                    href: "/prisoners/" + data.id + "/sex",
                    attributes: {'data-qa': 'continue'}
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
