{% extends "../../partials/layout.njk" %}
{% set pageTitle = "This person has returned to prison" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govukPanel({
                        titleText: firstName + " " + lastName + " " + "has returned to " + prison.description,
                        html: "Prison number<br><strong>" + prisonNumber | escape + "</strong>",
                        attributes: {
                        'data-qa': 'confirmation-banner'
                        } 
                    }) }}

                    <p data-qa="confirmation-paragraph">{{ firstName}} {{ lastName }} is on the establishment roll.</p>
                    
                    <p data-qa="location-paragraph">Their location is {{ location }}.</p>

                    {{ govukButton({
                        text: "View establishment roll",
                        href: dpsUrl + "/establishment-roll",
                        attributes: {
                            'data-qa': 'view-establishment-roll',
                            'target': '_blank'
                        } 
                    }) }}
                    
                    <p>
                        <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ dpsUrl }}" data-qa="back-to-dps">
                            Back to Digital Prison Services
                        </a>
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
