{% extends "../../partials/layout.njk" %}
{% from  "../../partials/temporaryAbsenceCardMacro.njk" import temporaryAbsenceCard %}

{% set pageTitle = "Select prisoner returning from temporary absence" %}
{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-width-container govuk-body">
            <span class="govuk-caption-xl">Confirm a prisoner's arrival</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Select prisoner returning from temporary absence</h1>
                {% if temporaryAbsences.length %}
                    {% for absence in temporaryAbsences %} 
                        {{ temporaryAbsenceCard(absence, loop.index, user)}}
                    {% endfor %}
                {% else %}
                    <p id='no-prisoners'>There are currently no prisoners out on temporary absence.</p>
                {% endif %}

            {{ govukInsetText({
                html: "<p class='govuk-body'>If the prisoner is returning from court, they may be listed as <a href='/confirm-arrival/choose-prisoner' class='govuk-link govuk-link--no-visited-state' data-qa='linkToExpectedArrivals'>booked to arrive into prison</a>.</p>"
            }) }}
        </div>
    </div>
{% endblock %}