{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = "Change this person's name" %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Confirm a prisoner's arrival</span>
                <h1 class="govuk-heading-l">{{pageTitle}}</h1>


                {% call govukFieldset({ legend: {} }) %}
                    {{ govukInput({
                        label: { text: 'First names' },
                        id: "first-name",
                        name: "firstName",
                        classes: 'govuk-input--width-20',
                        value: data.firstName
                    }) }}

                    {{ govukInput({
                        label: { text: 'Last name' },
                        id: "last-name",
                        name: "lastName",
                        classes: 'govuk-input--width-20',
                        value: data.lastName
                    }) }}

                {% endcall %}

                {{ govukButton({
                        classes: "govuk-button govuk-!-margin-bottom-3",
                        text: "Save and continue",
                        attributes: {'data-qa': 'save'}
                }) }}
            </div>
        </div>
    </div>
{% endblock %}