{% extends "../../../../partials/layout.njk" %}
{% from "../../../../components/prisoner-split-view.njk" import prisonerSplitView %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Confirm an arrival</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">This person has an existing prisoner record</h1>
            <p> {{ arrival.firstName }} {{ arrival.lastName }} will be booked into the establishment using their
                existing prisoner record.</p>
        </div>
    </div>

    {{ prisonerSplitView(arrival, data, 'Details from Person Escort Record') }}

    <div>
        {{ govukInsetText({
            html: 'If you think this is the wrong record, you can <a data-qa="search-instead" href="/prisoners/' + data.id + '/search-for-existing-record/new">search for a record using different details</a>.'
        }) }}

        {{ govukButton({
            classes: "govuk-button govuk-!-margin-bottom-6",
            href: "/prisoners/" + data.id + "/sex",
            text: "Continue",
            attributes: {'data-qa': 'continue'}
        }) }}

        <p>
            <a class="govuk-body govuk-link govuk-link--no-visited-state" href="/confirm-arrival/choose-prisoner"
               data-qa="choose-prisoner">
                Return to list of people arriving today
            </a>
        </p>
    </div>
{% endblock %}
