{% macro doNotScan() %}
<div data-qa="do-not-scan" class="govuk-inset-text govuk-!-margin-top-0 govuk-!-font-size-16 app-inset-text--narrow-border app-inset-text--important">
    <dt class="app-card__meta-list-key">
            Do not scan
    </dt>
    <dd class="app-card__meta-list-value">
        Annual body scan limit reached
    </dd>
</div>
{% endmacro %}
