{% extends "../../../../partials/layout.njk" %}
{% from "../../../../components/prisoner-summary-detail.njk" import prisonerSummaryDetail %}

{% set pageTitle = "Confirm arrival" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Confirm an arrival</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">This person does not have an existing prisoner record</h1>
                    <p> {{ arrival.firstName }} {{ arrival.lastName }} does not have an existing prisoner record. A new record will be created when they are added to the establishment roll. </p>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-margin-top-4 govuk-!-margin-bottom-8 flex" >
                <div class="column-width-40 govuk-!-padding-right-9">
                    <h2 class="govuk-heading-m">Personal details</h2>
                    <div class = "prisoner-record-detail prisoner-head">
                        {{ prisonerSummaryDetail(arrival, "per-record" ) }}
                    </div>
                </div>
            </div> 
            <div> 
                {{ govukInsetText({
                    html: 'If you think this person has an existing prisoner record, you can <a class="govuk-link--no-visited-state" data-qa="search-instead" href="/prisoners/' + id + '/search-for-existing-record/new">search again using different details</a>.'
                }) }}  
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {{ govukButton({
                        classes: "govuk-button govuk-!-margin-bottom-6",
                        type: 'submit',
                        text: "Continue",
                        attributes: {'data-qa': 'continue'}
                    }) }}
                </form>
                <p>
                    <a class="govuk-body govuk-link govuk-link--no-visited-state" href="/confirm-arrival/choose-prisoner" data-qa="choose-prisoner">
                        Return to list of people arriving today
                    </a>
                </p> 
            </div>   
        </main>
    </div>
{% endblock %}
