$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";

@import '../sass/components/header-bar';
@import '../sass/components/footer';
@import '../sass/components/homepage';
@import '../sass/components/movement-card';
@import '../sass/components/card';
@import '../sass/components/prisoner-profile-header';
@import '../sass/components/prisoner-profile-image';
@import '../sass/components/transfer-card';
@import '../sass/components/check-records';
@import '../sass/components/feedback-banner';
@import '../sass/components/summary-card';
@import '../sass/components/compliance-panel';
@import './local';
