@use "@ministryofjustice/frontend/moj/all" as * with (
	$govuk-global-styles: true,
	$moj-assets-path: "/assets/",
	$moj-page-width: 1170px,
);
@use "govuk-frontend/dist/govuk";

@use './vendor/hmpps-connect-dps-footer';
@use './vendor/hmpps-connect-dps-header-bar';
@use './components/homepage';
@use './components/movement-card';
@use './components/card';
@use './components/transfer-card';
@use './components/check-records';
@use './components/prisoner-profile-header';
@use './components/prisoner-profile-image';
@use './components/feedback-banner';
@use './components/summary-card';
@use './components/compliance-panel';
@use './overrides/local';
