{% extends "../../../../../partials/layout.njk" %}

{% set pageTitle = "Add or change this person's prison number" %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if errors.length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: errors,
                        attributes: { 'data-qa-errors': true }
                    }) }}
                {% endif %}
                <span class="govuk-caption-xl">Confirm a prisoner's arrival</span>
                <h1 class="govuk-heading-l">{{pageTitle}}</h1>
                <form method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {{ govukInput({
                        id: 'prison-number',
                        label: {
                            text: 'Prison number'
                        },
                        hint: {
                            text: "For example, A8337DY."
                        },
                        classes: "govuk-!-width-one-quarter",
                        name: "prisonNumber",
                        value: data.prisonNumber,
                        errorMessage: errors | findError("prison-number")
                    }) }}

                    {{ govukButton({
                            classes: "govuk-button govuk-!-margin-bottom-3",
                            text: "Save and continue",
                            attributes: {'data-qa': 'save'}
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}