@use "@ministryofjustice/frontend/moj/all" as *;

.compliance-panel {
    padding: govuk-spacing(3);
    color: govuk-colour("white");
    background: govuk-colour("black", $variant: "tint-25");
  
    p {
      color: inherit;
    }
}

.compliance-panel--red {
  background: govuk-colour("red");
}
