{% extends "../../../../partials/layout.njk" %}
{% set pageTitle = "Check answers" %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl"> Confirm a prisoner's arrival </span>
                <h1 class="govuk-heading-l govuk-!-margin-bottom-7">You're about to add this person to the establishment roll</h1>
                
                {{ govukSummaryList({
                attributes: {'data-qa': dataQa},
                rows: [
                    {   key:     { text: "Name"},
                        value:   { text: data.firstName + " " + data.lastName, classes: "data-qa-prisoner-name"},
                        show:    true
                    },
                    {   key:     { text: "Date of birth" },
                        value:   { text: data.dateOfBirth | formatDate('D MMMM YYYY'), classes: "data-qa-dob" },
                        show:    true
                    },
                    {   key:     { text: "PNC number" },
                        value:   { text:  data.pncNumber, classes: "data-qa-pnc-number" },
                        show:    data.pncNumber
                    },
                    {   key:     { text: "Sex" },
                        value:   { text:  "Male" if data.sex === 'M' else "Female", classes: "data-qa-sex"},
                        show:    true           
                    },
                    {   key:     { text: "Reason for imprisonment" },
                        value:   { text:  data.reasonImprisonment, classes: "data-qa-reason" },
                        show:    data.reasonImprisonment
                    }
                ] | selectattr("show")
                }) }}

                <h2 class="govuk-heading-m">Create prisoner record and add to establishment roll</h2>
                <p class="govuk-body">
                    By submitting this form, you will create a new prisoner record, add this person to your 
                    establishment roll and generate a new prison number.
                </p>

                <form method="post" action = "/prisoners/{{ id }}/check-answers">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {{ govukButton({
                        classes: "govuk-button govuk-!-margin-bottom-1",
                        text: "Create record and add to establishment roll",
                        attributes: {'data-qa': 'add-to-roll'},
                        type: 'submit'
                    }) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
