---
# Per environment values which override defaults in hmpps-welcome-people-into-prison-ui/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: welcome.prison.service.justice.gov.uk
    annotations:
      external-dns.alpha.kubernetes.io/set-identifier: hmpps-welcome-people-into-prison-ui-hmpps-welcome-to-prison-prod-blue

  env:
    INGRESS_URL: "https://welcome.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    WELCOME_API_URL: "https://welcome-api.prison.service.justice.gov.uk"

generic-prometheus-alerts:
  alertSeverity: digital-prison-service

