---
# Per environment values which override defaults in hmpps-welcome-people-into-prison-ui/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: welcome.prison.service.justice.gov.uk

  env:
    INGRESS_URL: "https://welcome.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    DPS_URL: "https://digital.prison.service.justice.gov.uk"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    WELCOME_API_URL: "https://welcome-api.prison.service.justice.gov.uk"
    HMPPS_COOKIE_NAME: hmpps-session-prod
    HOSTNAME: welcome.prison.service.justice.gov.uk
    ENABLED_PRISONS: 'NMI,LII'
    CONFIRM_ENABLED: 'false'
    CONFIRM_NO_IDENTIFIERS_ENABLED: 'false'
    TEMPORARY_ABSENCE_ENABLED: 'false'
    PRISON_TRANSFERS_ENABLED: 'false'

generic-prometheus-alerts:
  alertSeverity: digital-prison-service

