{% extends "../../partials/layout.njk" %}
{% from "components/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/xray-body-scan-count.njk" import xrayBodyScanCount %}

{% set pageTitle = "Summary of recent arrival" %}
{% set hasBackLink = false %}
{% set isFemalePrison = false %}
{% set personalDetailsUrl = profileUrl + "/save-backlink?service=welcome-people-into-prison&backLinkText=Back to Recent arrivals&returnPath=/recent-arrivals&redirectPath=/prisoner/" + arrival.prisonNumber + "/personal" %}

{% set breadCrumbs = {
    enabled: true,
    data: [{
        title: 'Recent arrivals',
        href: '/recent-arrivals'
    }]} %}


{% if user.activeCaseLoadId in femalePrisons %}
    {% set isFemalePrison = true %}
{% endif %}


{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-body">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <span class="govuk-caption-l">
                        Prison number: {{ arrival.prisonNumber }}{% if arrival.pncNumber %} | PNC: {{ arrival.pncNumber }}{% endif %}
                    </span>
                    <h1 class="govuk-heading-l">{{ arrival.lastName }}, {{ arrival.firstName }}</h1>
                </div>
                <div class="govuk-grid-column-one-half">
                    {{ govukButton({
                            text: "Add a case note",
                            href: profileUrl + "/save-backlink?service=welcome-people-into-prison&returnPath=/recent-arrivals/" + arrival.prisonNumber + "/summary&redirectPath=/prisoner/" + arrival.prisonNumber + "/add-case-note",
                            classes: "govuk-button--secondary govuk-!-margin-left-3 float-right",
                            attributes: {'data-qa': 'add-case-note-button'}
                    }) }}
                    {{ govukButton({
                            text: "Update personal details",
                            href: personalDetailsUrl,
                            classes: "govuk-button--success float-right",
                            attributes: {'data-qa': 'update-personal-details-button'}
                        }) }}
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        This summary contains information from the prison record.
                    </div>
                </div>
            </div>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Booking overview",
                        rows: [
                            {
                                key: {  text: "Arrival status" },
                                value: { html: "<strong class=\"govuk-tag govuk-tag\">Arrived</strong>" }
                            }
                        ]
                    }) }}

                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Personal details",
                        rows: [
                            {
                                key: {  text: "Name" },
                                value: { text:  arrival.firstName + " " + arrival.lastName }
                            },
                            {
                                key: {  text: "Date of birth" },
                                value: { text: arrival.dateOfBirth | formatDate('D MMMM YYYY')}
                            },
                            {
                                key: {  text: "Age" },
                                value: { text: arrival.dateOfBirth | calculateAge + " years old"}
                            }
                        ]
                    }) }}
                    {% if newXRayBodyScansIntegrationEnabled %}
                        {% if not isFemalePrison %}
                            <div class="govuk-summary-card govuk-!-margin-bottom-6" id="body-scan">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title">X-ray body scans</h2>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <div class="xray-body-scan-card__columns">
                                        <div class="xray-body-scan-card__column">
                                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                                Scans in {{ generateCurrentYear() }}
                                            </h3>
                                            {{ xrayBodyScanCount(arrival) }}
                                            {% if arrival.nomisCount > 0 %}
                                                <p class="govuk-!-margin-top-3 govuk-!-font-size-16 hmpps-secondary-text">
                                                    Scan total includes DPS and legacy records<span class="govuk-visually-hidden">.</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="xray-body-scan-card__column">
                                            {% if arrival.latestScan and arrival.latestScan.scanDate %}
                                                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Last scan date</h3>
                                                <p class="govuk-!-margin-bottom-1">
                                                    {{ arrival.latestScan.scanDate | formatDate('D MMMM YYYY') }}
                                                </p>
                                                {% if arrival.latestScan.outcomeDescription %}
                                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Result</h3>
                                                    <p class="govuk-!-margin-bottom-1">
                                                        {{ arrival.latestScan.outcomeDescription }}
                                                    </p>
                                                {% elif arrival.latestScan.scanDetails %}
                                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Result</h3>
                                                    <p class="govuk-!-margin-bottom-1">
                                                        {{ arrival.latestScan.scanDetails }}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if arrival.relevantAlerts and arrival.relevantAlerts.length %}
                                        <ul class="govuk-list govuk-!-margin-top-2">
                                            {% for alert in arrival.relevantAlerts %}
                                                <li>
                                                    <div class="dps-alert-status dps-alert-status--security">
                                                        {{ alert.codeDescription }}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <a href="{{ xrayBodyScansUiUrl }}/prisoner/{{ arrival.prisonNumber }}/scan-overview">Check body scan details</a>
                                    <a href="{{ xrayBodyScansUiUrl }}/prisoner/{{ arrival.prisonNumber }}/record-scan" class="govuk-!-margin-left-3">Record a new scan</a>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if arrival.bodyScanStatus === 'DO_NOT_SCAN' %}
                            <div class="compliance-panel compliance-panel--red">
                                <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold" data-qa="compliance-panel-text">
                                    Do not scan – annual body scan limit reached
                                </p>
                            </div>
                        {% elif arrival.bodyScanStatus === 'CLOSE_TO_LIMIT' %}
                            <div class="compliance-panel">
                                <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold" data-qa="compliance-panel-text">
                                    {{ arrival.firstName }} {{ arrival.lastName }} can only be scanned {{ arrival.numberOfBodyScansRemaining }} more times this year
                                </p>
                            </div>
                        {% endif %}
                        {% if not isFemalePrison %}
                            {{ summaryCard({
                                id: "body-scan",
                                classes: "govuk-!-margin-bottom-6",
                                titleText: "X-ray body scan",
                                action: { href: "/prisoners/" + arrival.prisonNumber + "/record-body-scan",
                                        text: "Record an X-ray body scan",
                                        attributes: { 'data-qa': 'record-body-scan' } },
                                rows: [
                                    {
                                        key: { text: "Total number of scans", caption: "Since 1 January " + generateCurrentYear() },
                                        value: { text: arrival.numberOfBodyScans }
                                    }
                                ]
                            }) }}
                        {% endif %}
                    {% endif %}
                </div>

                <div class='govuk-grid-column-one-third'>
                    <div class="profile-align-image">
                        <img
                            src="{{ '/prisoners/' + arrival.prisonNumber + '/image' }}"
                            class="govuk-!-margin-bottom-8"
                            width="160px"
                            alt="Headshot of {{ arrival.lastName }}, {{ arrival.firstName }}"
                            data-qa="prisoner-image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
