{% extends "../../partials/layout.njk" %}
{% from "components/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Summary of recent arrival" %}
{% set hasBackLink = false %}
{% set isFemalePrison = false %}

{% set breadCrumbs = {
    enabled: true,
    data: [{
        title: 'Recent arrivals',
        href: '/recent-arrivals'
    }]} %}


{% if user.activeCaseLoadId in femalePrisons %}
    {% set isFemalePrison = true %}
{% endif %}


{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-body">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <span class="govuk-caption-l">
                        Prison number: {{ arrival.prisonNumber }}{% if arrival.pncNumber %} | PNC: {{ arrival.pncNumber }}{% endif %}
                    </span>
                    <h1 class="govuk-heading-l">{{ arrival.lastName }}, {{ arrival.firstName }}</h1>
                </div>
                <div class="govuk-grid-column-one-half">
                    {{ govukButton({
                        text: "View full prisoner profile",
                        href: dpsUrl + "/save-backlink?service=welcome-people-into-prison&returnPath=/recent-arrivals/" + arrival.prisonNumber + "/summary&redirectPath=/prisoner/" + arrival.prisonNumber,
                        classes: "govuk-button--secondary govuk-!-margin-left-3 float-right",
                        attributes: {'data-qa':'dps-prisoner-profile-button'}
                    }) }}
                    {{ govukButton({
                        text: "Add a case note",
                        href: dpsUrl + "/save-backlink?service=welcome-people-into-prison&returnPath=/recent-arrivals/" + arrival.prisonNumber + "/summary&redirectPath=/prisoner/" + arrival.prisonNumber + "/add-case-note",
                        classes: "govuk-button--secondary float-right",
                        attributes: {'data-qa': 'add-case-note-button'}
                    }) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        This summary contains information from the prison record.
                    </div>
                </div>
            </div>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Booking overview",
                        rows: [
                            {
                                key: {  text: "Arrival status" },
                                value: { html: "<strong class=\"govuk-tag govuk-tag\">Arrived</strong>" }
                            }
                        ]
                    }) }}

                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Personal details",
                        rows: [
                            {
                                key: {  text: "Name" },
                                value: { text:  arrival.firstName + " " + arrival.lastName }
                            },
                            {
                                key: {  text: "Date of birth" },
                                value: { text: arrival.dateOfBirth | formatDate('D MMMM YYYY')}
                            },
                            {
                                key: {  text: "Age" },
                                value: { text: arrival.dateOfBirth | calculateAge + " years old"}
                            }
                        ]
                    }) }}
                    {% if arrival.bodyScanStatus === 'DO_NOT_SCAN' %}
                        <div class="compliance-panel compliance-panel--red">
                            <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold" data-qa="compliance-panel-text">
                                Do not scan – annual body scan limit reached
                            </p>
                        </div>
                    {% elif arrival.bodyScanStatus === 'CLOSE_TO_LIMIT'  %}
                        <div class="compliance-panel">
                            <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold" data-qa="compliance-panel-text">
                                {{ arrival.firstName }} {{ arrival.lastName }} can only be scanned {{ arrival.numberOfBodyScansRemaining }} more times this year
                            </p>
                        </div>
                    {% endif %}
                    {% if not isFemalePrison %}
                        {{ summaryCard({
                            id: "body-scan",
                            classes: "govuk-!-margin-bottom-6",
                            titleText: "X-ray body scan",
                            action: { href: "/prisoners/" + arrival.prisonNumber + "/record-body-scan", 
                                    text: "Record an X-ray body scan", 
                                    attributes: { 'data-qa': 'record-body-scan' } },
                            rows: [
                                {
                                    key: {  text: "Total number of scans", caption: "Since 1 January " + generateCurrentYear() },
                                    value:  { text: arrival.numberOfBodyScans }
                                }
                            ]
                        }) }}
                    {% endif %}
                </div>

                <div class='govuk-grid-column-one-third'>
                    <div class="profile-align-image">
                        <img
                            src="{{ '/prisoners/' + arrival.prisonNumber + '/image' }}"
                            class="govuk-!-margin-bottom-8"
                            width="160px"
                            alt="Headshot of {{ arrival.lastName }}, {{ arrival.firstName }}"
                            data-qa="prisoner-image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
