{% extends "../../partials/layout.njk" %}
{% from "components/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Person summary" %}
{% set hasBackLink = false %}
{% set breadCrumbs = {
    enabled: true,
    pageTitle:  arrival.lastName + ", " + arrival.firstName,
    data: [{
        title: 'Recent arrivals',
        href: '/recent-arrivals'
    }]} %}


{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-body">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    {% if arrival.prisonNumber or arrival.pncNumber %}
                        <span class="govuk-caption-l">
                            {% if arrival.prisonNumber %}Prison number: {{ arrival.prisonNumber }}{% endif %}{% if arrival.prisonNumber and arrival.pncNumber %} | {% endif %}{% if arrival.pncNumber %}PNC: {{ arrival.pncNumber }}{% endif %}
                        </span>
                    {% endif %}
                    <h1 class="govuk-!-margin-0">{{ arrival.lastName }}, {{ arrival.firstName }}</h1>
                </div>
                <div class="govuk-grid-column-one-half">
                    {{ govukButton({
                        text: "Add a case note",
                        href: dpsUrl + "/save-backlink?service=welcome-people-into-prison&returnPath=/recent-arrivals/" + arrival.id + "/summary&redirectPath=/prisoner/" + arrival.prisonNumber + "/add-case-note",
                        classes: "govuk-button--secondary float-right",
                        attributes: {'data-qa': 'add-case-note-button'}
                    }) }}
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-inset-text govuk-!-margin-top-5">
                        This summary contains information from the escort move and prison record.
                    </div>
                </div>
            </div>
            <div class='govuk-grid-row'>
                <div class='govuk-grid-column-two-thirds'>
                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Booking overview",
                        rows: [
                            {
                                key: {  text: "Arrival Status" },
                                value: { html: "<strong class=\"govuk-tag govuk-tag\">Arrived</strong>" }
                            },
                            {
                                key: {  text: "Arrived from" },
                                value: { text: arrival.fromLocation }
                            }
                        ]
                    }) }}

                    {{ summaryCard({
                        classes: "govuk-!-margin-bottom-6",
                        titleText: "Personal details",
                        rows: [
                            {
                                key: {  text: "Name" },
                                value: { text:  arrival.firstName + " " + arrival.lastName }
                            },
                            {
                                key: {  text: "Date of birth" },
                                value: { text: arrival.dateOfBirth | formatDate('D MMMM YYYY')}
                            },
                            {
                                key: {  text: "Age" },
                                value: { text: arrival.dateOfBirth | calculateAge + " years old"}
                            }
                        ]
                    }) }}
                </div>

                <div class='govuk-grid-column-one-third'>
                    <aside class="float-right">
                        <img
                            src="{{ '/prisoners/' + arrival.prisonNumber + '/image' if arrival.prisonNumber else '/assets/images/placeholder-image.png' }}"
                            class="float-right"
                            width="160px"
                            alt="Headshot of {{ arrival.lastName }}, {{ arrival.firstName }}"
                            data-qa="prisoner-image"
                        />
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
