{% extends "../partials/layout.njk" %}
{% set pageTitle = "Check answers" %}
{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
          <span class="govuk-caption-xl"> Check answers of </span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Check your answers </h1>
        </main>
    </div>
{% endblock %}

