{% extends "../partials/layout.njk" %}
{% from  "../partials/incomingMovementCardMacro.njk" import incomingMovementCard %}
{% set pageTitle = applicationName + " - Home" %}
{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-width-container govuk-body">
            <h1>Select prisoner to add to the establishment roll</h1>
                <h2 class="govuk-heading-m govuk-!-margin-top-9">Prisoners arriving from court</h2>
                    {% for key, movements in incomingMovements %}
                        {% if key === "fromCourt" %}
                                {% for move in movements %}
                                {{ incomingMovementCard(move, key, loop.index)}}
                                {% endfor %}
                        {% endif %}
                    {% endfor %}

                <h2 class="govuk-heading-m govuk-!-margin-top-9">Prisoners arriving from a custody suite</h2>
                    {% for key, movements in incomingMovements %}
                        {% if key === "fromCustodySuite" %}
                                {% for move in movements %}
                                {{ incomingMovementCard(move, key, loop.index)}}
                                {% endfor %}
                        {% endif %}
                    {% endfor %}
        </div>
    </div>
{% endblock %}