{% extends "../partials/layout.njk" %}
{% set pageTitle = "Transfer confirmed" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: firstName + " " + lastName + " " + "has been added to the establishment roll",
                html: "Prison number<br><strong>" + prisonNumber + "</strong>",
                attributes: {
                'data-qa': 'confirmation-banner'
                } 
            }) }}

            <p data-qa="confirmation-paragraph">{{ firstName}} {{ lastName }} is now part of the {{ prison.description }} establishment roll and is located in reception.</p>

            {{ govukButton({
                text: "Add another prisoner to the roll",
                href: '/confirm-arrival/choose-prisoner',
                attributes: {
                'data-qa': 'add-another-to-roll'
                } 
            }) }}
            </div>
        </main>
    </div>
{% endblock %}
