{% extends "../partials/layout.njk" %}
{% set pageTitle = "has been added to the establishment roll" %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">has been added to the establishment roll</h1>
  </main>
</div>

{% endblock %}
