{% extends "../partials/layout.njk" %}
{% set pageTitle = "Confirm arrival" %}
{% block content %}
    <div class="govuk-!-margin-bottom-8">
        <div class="govuk-width-container govuk-body">
            <h1>Confirm arrival</h1>
        </div>
    </div>
{% endblock %}
