{% extends "../partials/layout.njk" %}
{% set pageTitle = "You cannot confirm the arrival of this person in this tool" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">You cannot confirm the arrival of this person in this service</h1>
                    <p class="govuk-body">
                    You'll need to confirm the arrival of this person in NOMIS.
                    </p>
                    <p><a class="govuk-body govuk-link govuk-link--no-visited-state" href="/">Back to Welcome people into prison</a></p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
