{% extends "../partials/layout.njk" %}
{% set pageTitle =  "This service is currently unavailable" %}
{% set hasBackLink = false %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">This service is currently unavailable</h1>
        <p>You will be able to use Welcome people into prison again from 12pm on Thursday 19 January 2023.</p>
        <p>You’ll need to confirm any arrivals on NOMIS instead.</p>
    </div>
{% endblock %}
