{% extends "../partials/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% set pageTitle = "What is their sex?" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-padding-top-7">
        <div class="govuk-grid-column-two-thirds">

            {% if errors.length %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}

            <span class="govuk-caption-xl"
                  data-qa="prisoner-name">Confirm arrival of {{ data.firstName }} {{ data.lastName }}</span>

            {% if data.gender === 'TRANS' %}
                {{ govukInsetText({
                    text:  data.firstName + " " + data.lastName + " was identified as transgender on their Person Escort Record. Their registered sex at birth is required to confirm their arrival into this establishment."
                }) }}
            {% endif %}

            <form method="post" action="/prisoners/{{ data.id }}/sex">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    name: "sex",
                    fieldset: {
                        legend: {
                            text: pageTitle,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: "This is the sex recorded on the person's birth certificate or Gender Recognition Certificate."
                    },
                    items: [
                        {
                            value: "M",
                            text: "Male"
                        },
                        {
                            value: "F",
                            text: "Female"
                        }
                    ],
                    errorMessage: errors | findError("sex")
                }) }}


                {{ govukButton({
                    text: "Continue",
                    attributes: {"data-qa": "continue"},
                    type: "submit"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}
